<configuration>
    <!--  どこにどんなレイアウトで出力するか  -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>myApp.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <!--  Logger で指定されないものについて、どのレベル「以上」でどの Appender に出力するか  -->
    <root level="debug"> <!--  debug 以上のレベルでこの設定が使用される(debug のみではないことに注意)  -->
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>

